.add-btn {
  background: green;
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-form {
  background: white;
  padding: 20px;
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
}
